@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@700&display=swap');

body {
    font-family: 'Libre Baskerville', serif;
    margin: 0;
    background-color: rgb(76, 75, 75);

}

.top-half {
    background-image: url('../images/me.jpeg');
    background-position: 45% 170%;
    background-attachment:fixed;
    background-size: 70em;
    color:white;
    text-align: center;
    padding-bottom: 10em;
}
h1 {
    padding: 3em;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    margin: 0 1.2em;
}
h1 span {
    display: block;
    font-size: 1.2rem;
    font-style: italic;
}


input[type=submit] {
    background-color: #334850;
    border: none;
    width: 100%;
    color: white;
    font-weight: bold;
    padding: 1em 0;
    border-radius: 0.5em;
    font-size: 1em;
    cursor: pointer;
    box-sizing: border-box;
}
.middle {
    margin-top: 1em;
    background: rgb(76, 75, 75) url('../images/cyanbg.jpg');
    background-size: 75em;
    text-align: center;
    color:white;
    padding: 0.5rem 0.5rem;
    font-family: 'Ubuntu', sans-serif;
    border-radius: 1rem;
    
}
.middle h2 {
    text-decoration: underline;
}

.bottom-half {
    text-align: center;
    padding-bottom: 10em;
    margin-top: 1em;
    background-color: rgb(76, 75, 75);
    
}
.container {
    background-color: rgb(111, 141, 135);
    border-radius: 1rem;
    padding: 0.75em 0.5em;
    box-shadow: 5px 5px 5px 5px;
}
.more-about {
    border-radius: 0.5rem;
    font-size: 1.5rem;
    font-family: 'Unbounded', cursive;
    text-decoration: none;
    
}

input[type=submit]:hover {
    background-color: #1c6782;
    font-weight: lighter;
}

@media (min-width: 730px) {
    .top-half {
        background: #307D99 url('../images/me.jpeg');
        background-position: 60% 50%;
        background-attachment:fixed;
        background-size: 80em;
        color:white;
        text-align: center;
        padding-bottom: 10em;
        
    }
    h1 {
        font-size: 2.75rem;
    }
    h1 span {
        font-size: 2rem;
    }
    section {
        margin: 0 4em;
    }
    .bottom-half {
        text-align: center;
    }
    .buttons {
        font-size: 1em;
        cursor: pointer;
        box-sizing: border-box;   
    }
}
@media (min-width: 1100px) {
    .middle {
        background-size: 80em;
        text-align: left;  
    }
    .bottom-half {
        text-align: left;
    }
    input[type='submit'] {
        height: fit-content;
        font-size: 1.1rem;
        padding: 0.7em 0;
        width: 85%;
    }
    .container {
        text-align: center;
    }
    .more-about {
        text-align: left;
    }
}
@media (min-width: 1300px) {
    .top-half {
        background-size: 100em;
        padding: 10em 20em;
    }
    .middle {
        background-size: 100em;
        width:100%;
        text-align: left;  
    }
    .bottom-half {
        text-align: left;
    }
    input[type='submit'] {
        height: fit-content;
        font-size: 1.1rem;
        padding: 0.7em 0;
        width: 75%;
    }
    .container {
        text-align: center;
    }
    .more-about {
        text-align: left;
    }
}

.top-half h1 {
    animation: fadeIn 2s forwards;
}
.middle .about{
    animation: SideIn 2s forwards;
}
.middle .Highlights{
    animation: SideIn 2s forwards;
}
.bottom-half {
    animation: fadeIn 2s forwards;
}
.bottom-half .more-about {
    animation: fadeIn 2s forwards;
}
.bottom-half .buttons .resume{
    animation: SideIn 2s forwards;
}
.bottom-half .buttons .Github{
    animation: SideIn 2s forwards;
}
.bottom-half .buttons .LinkedIn{
    animation: SideIn 2s forwards;
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-2em);
    }
    to {
        opacity: 1;
        transform: translateY(0em);
    }
}
@keyframes SideIn {
    from {
        opacity: 0;
        transform: translateX(-2em);
    }
    to {
        opacity: 1;
        transform: translateX(0em);
    }
}
